<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group input-group mb-2">
    <%= form.label :title, class: "input-group-text" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="input-group input-group mb-2">
    <%= form.label :content, class: "input-group-text" %>
    <%= form.text_area :content, class: "form-control text" %>
  </div>

    <%#= form.label :sender_id, "Sender", class: "input-group-text" %>
    <%#= form.text_field :sender_id, value: current_user.name, readonly: true, class: 'form-control' %>
    <%= form.hidden_field :sender_id, value: current_user.id %>

  <div class="input-group input-group mb-2">
    <%= form.label :receiver_id, class: "input-group-text" %>
    <%= form.collection_select :receiver_id, @users.all.order(:name), :id, :name, 
    { include_blank: 'Sélectionner', selected: params[:receiver_id] },  class: "form-select" %>
  </div>


  <div class="input-group input-group mb-2">
    <%= form.label :sent_at, "Heure d'envoi", class: "input-group-text" %>
    <%= form.datetime_field :sent_at, class: "form-control date" %>
  </div>

  <%= custom_submit_button(form, "Envoyer") %>

<% end %>
