<div class="card card-shadowed p-2 mb-3 " id="<%= dom_id message %>">

  <%= link_to message_path(message), class: "text-decoration-none text-dark" do %>
    <div class="<%= 'exclusive-post' if message.upcoming? %>"> 
    

      <p>
        Message de 
        <strong><%= message.sender.name %> </strong>
        pour 
      <strong><%= message.receiver.name %> </strong>
      lisible depuis le <strong> <%= l(message.sent_at) %>   </strong>

      <% if controller_name == "messages" && action_name == "show" %>
        
        <% if message.title? %>
          <p>
            <strong>Objet:</strong>
            <%= message.title %>
          </p>      
        <% end %>

        <p>
          <strong>Message:</strong>
          <%= message.content %>
        </p>

        <% if message.document.attached? %>
          <% if message.document.content_type.start_with?('image/') %>
            <p>
              <strong>Document:</strong>
              <%= image_tag url_for(message.document) %>
            </p>
          <% else %>
            <p>
              <strong>Document:</strong>
              <%= link_to message.document.filename, url_for(message.document) %>
            </p>
          <% end %>
        <% end %>
      <% end %>
    
    <% end %>
    


  </div>
  
  <% if message.upcoming? %>
      <p>
        message de <strong> <%= message.sender.name_or_mail %> </strong>
        <span class="badge bg-secondary w-100 text-light p-2 my-2" style="min-width: 140px;">
            <span data-controller="countdown" data-countdown-event-date="<%= message.sent_at.strftime('%Y-%m-%dT%H:%M:%S') + message.sent_at.strftime('%:z') %>">
                <i class="fa fa-lg fa-clock me-1"> </i>
                <span data-countdown-target="timer">00:00:00</span>
            </span>
        </span>
      </p>
  <% end %>

  <% unless controller_name == "messages" && action_name == "show" %>
    <div class="text-end">
      <%= link_to message, class: "btn btn-sm btn-outline-primary" do %>
        <i class="fa fa-envelope-open"></i>
        <span class="fw-bold">Ouvrir</span>
      <% end %>
    </div>
  <% end %>


  <%#= form_with url: send_sms_path do %>
    <%#= hidden_field_tag :message, message.id %>
    <%#= submit_tag 'Send sms Email' %>
  <%# end %>

</div>
