<div class="card letter-backougrnd p-2 mb-3" id="<%= dom_id message %>">

  <%= link_to message_path(message), class: "text-decoration-none text-dark" do %>
    <div class="<%= 'exclusive-post' if message.upcoming? %>"> 
    
      <p>
        Message de 
        <strong><%= message.sender.name %> </strong>
        pour 
      <strong><%= message.receiver.name %> </strong>
        Lisible depuis le <strong> <%= l(message.sent_at) %> </strong> 
      </p>
      
      <% if message.title? %>
        <p>
          <strong>Objet:</strong>
          <%= message.title %>
        </p>      
      <% end %>

      <p>
        <strong>Message:</strong>
        <%= message.content %>
      </p>


      <div class="text-end">
        <%= link_to message, class: "btn btn-sm btn-outline-primary" do %>
          <i class="fa fa-envelope-open"></i>
          <span class="fw-bold">Open</span>
        <% end %>
        
      </div>
    
    <% end %>
    

    <% if message.document.attached? %>
      <% if message.document.content_type.start_with?('image/') %>
        <p>
          <strong>Document:</strong>
          <%= image_tag url_for(message.document) %>
        </p>
      <% else %>
        <p>
          <strong>Document:</strong>
          <%= link_to message.document.filename, url_for(message.document) %>
        </p>
      <% end %>
    <% end %>

  </div>
  
  <% if message.upcoming? %>
      <p>
        message de <strong> <%= message.sender.name_or_mail %> </strong>
        <span class="badge bg-primary w-100 text-light p-2 my-2" style="min-width: 140px;">
            <span data-controller="countdown" data-countdown-event-date="<%= message.sent_at.strftime('%Y-%m-%dT%H:%M:%S') + message.sent_at.strftime('%:z') %>">
                <i class="fa fa-lg fa-clock me-1"> </i>
                <span> Openable in </span>
                <span data-countdown-target="timer">00:00:00</span>
            </span>
        </span>
      </p>

  <% end %>


</div>
