<div class="card m-4 p-3" id="<%= dom_id message %>">

  <div class="container <%= 'exclusive-post' if message.upcoming? %>"> 
  
    <p>
      <strong>Title:</strong>
      <%= message.title %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= message.content %>
    </p>

    <p>
      <strong>Sender:</strong>
      <%= message.sender.name %>
    </p>

    <p>
      <strong>Receiver:</strong>
      <%= message.receiver.name %>
    </p>

    <p>
      <strong>Sent at:</strong>
      <%= distance_of_time_in_words(message.sent_at, Time.current) %> 
    </p>

    <p>
      <%= link_to "Show this message", message, class: "btn btn-outline-primary" %>
    </p>
  </div>
  
  <% if message.upcoming? %>
    time left: compteur temps restant
  <% end %>

</div>
