<div class="card p-2 mb-3" id="<%= dom_id message %>">

  <div class="<%= 'exclusive-post' if message.upcoming? %>"> 
  
    <p>
      <strong>Title:</strong>
      <%= message.title %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= message.content %>
    </p>

    <p>
      <strong>Sender:</strong>
      <%= message.sender.name %>
    </p>

    <p>
      <strong>Receiver:</strong>
      <%= message.receiver.name %>
    </p>

    <p>
      <strong>Sent at:</strong>
      <%= message.sent_at %> 
    </p>


    <div class="text-end">
      <%= link_to message, class: "btn btn-sm btn-outline-primary" do %>
        <i class="fa fa-envelope-open"></i>
        <span class="fw-bold">Open</span>
      <% end %>
      
    </div>
  </div>
  
  <% if message.upcoming? %>
      <p>
        <strong>Openable in:</strong>
        <div class="badge bg-primary text-light p-2 my-2" style="min-width: 140px;">
            <div data-controller="countdown" data-countdown-event-date="<%= message.sent_at.strftime('%Y-%m-%dT%H:%M:%S') + message.sent_at.strftime('%:z') %>">
                <i class="fa fa-lg fa-clock me-1"> </i>
                <span data-countdown-target="timer">00:00:00</span>
            </div>
        </div>
      </p>

  <% end %>


</div>
