<p style="color: green"><%= notice %></p>

<div class="container-fluid p-2">

  <h1 class="mb-4 text-center text-secondary">
    <%= link_to  messages_path, class: "text-decoration-none text-dark" do %>
      <span class="fa fa-regular fa-envelope"></span>
      Messages
    <% end %>
  </h1>


  <div class="d-flex container g-2 mb-3">
  
    <%= button_to display_envoyes_messages_path, class: "btn " do %>
      <div class="p-1 border bg-light">
        Envoyés
        <span class="ms-1 badge bg-secondary"> 
          <%= @send_messages.count %>
        </span> 
      </div>
    <% end %>


    <%= button_to display_passes_messages_path, class: "btn" do %>
      <div class="p-1 border bg-light">
        Recus
        <span class="ms-1 badge bg-secondary"> 
          <%= @past_messages.count %>
        </span> 
      </div>
    <% end %>


    <%= button_to display_avenir_messages_path, class: "btn" do %>
      <div class="p-1 border bg-light">
        A venir
        <span class="ms-1 badge bg-secondary"> 
          <%= @upcoming_messages.count %>
        </span> 
      </div>
    <% end %>

  </div>

  <div id="partial-container" class="partial-topic mb-3">
    <%# recoit le turbo stream avec elements cliqués %>
  </div>


  <%= link_to new_message_path, 
        class: "btn btn-primary fw-bold w-100 my-2" do %>
    <i class="fa-regular fa-pen-to-square"></i>
    <span> Envoyer un message </span> 
  <% end %>

  <hr>

  <%= return_model_index_button("Retour vers accueil", root_path) %>

</div>