<p style="color: green"><%= notice %></p>

<div class="container-fluid p-2">

  <h1 class="mb-4 text-secondary">
    <span class="fa fa-regular fa-envelope"></span>
    Messages
  </h1>

  <div class="container-fluid p-0 text-center">
    <div class="row gx-1">
      <div class="col">
      <div class="p-1 border bg-light">
          tous
        <span class="ms-1 badge bg-secondary"> 
          <%= @messages.count %>
        </span> 
      </div>
      </div>
      <div class="col">
        <%= link_to "#pases", class: "text-decoration-none text-dark" do %>
          <div class="p-1 border bg-light">
            passés
            <span class="ms-1 badge bg-secondary"> 
              <%= @past_messages.count %>
            </span> 
          </div>
        <% end %>
      </div>

      <div class="col">
        <%= link_to "#avenir", class: "text-decoration-none text-dark" do %>
          <div class="p-1 border bg-light">
            à venir
            <span class="ms-1 badge bg-secondary  <%= 'bg-danger' if @upcoming_messages.count > 0 %> "> 
              <%= @upcoming_messages.count %>
            </span> 
          </div>
        <% end %>
      </div>
      
      
    </div>
  </div>

  <%= link_to new_message_path, 
        class: "btn btn-primary fw-bold w-100 my-3" do %>
    <i class="fa-regular fa-pen-to-square"></i>
    <span> Envoyer un message </span> 
  <% end %>



  <hr>

  <h2>
    Passés
    <span class="badge bg-secondary"> 
      <%= @past_messages.count %>
    </span> 
  </h2>

  <div id="messages">
    <% @past_messages.each do |message| %>
      <%= render message %>
    <% end %>
  </div>

  <hr>

  <h2 id="avenir">
    A venir
    <span class="badge bg-secondary <%= 'bg-danger' if @upcoming_messages.count>0 %>">
      <%= @upcoming_messages.count %>
    </span> 
  </h2>

  <div id="messages">
    <% @upcoming_messages.each do |message| %>
      <%= render message %>
    <% end %>
  </div>

  <hr>

  <%= return_model_index_button("Retour vers accueil", root_path) %>

</div>