<p style="color: green"><%= notice %></p>

<div class="container-fluid p-2">

  <h1 class="mb-4 text-center text-secondary">
    <%= link_to  messages_path, class: "text-decoration-none text-dark" do %>
      <span class="fa fa-regular fa-envelope"></span>
      Messages
    <% end %>
  </h1>




  <div class="accordion accordion-flush mb-2" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Envoyés
          <span class="ms-1 badge bg-secondary"> 
            <%= @send_messages.count %>
          </span> 
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body px-0">
          <%= render 'envoyes' %>      
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Recus
          <span class="ms-1 badge bg-secondary"> 
            <%= @past_messages.count %>
          </span>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse my-1 p-0" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body px-0">
          <%= render 'passes' %>      
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          A venir
          <span class="ms-1 badge bg-secondary"> 
            <%= @upcoming_messages.count %>
          </span> 
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse my-1 p-0" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body px-0">
          <%= render 'avenir' %>      
        </div>
      </div>
    </div>
  </div>


  <%= link_to new_message_path, 
        class: "btn btn-outline-primary fw-bold w-100 my-2" do %>
    <i class="fa-regular fa-pen-to-square"></i>
    <span> Envoyer un message </span> 
  <% end %>

  <hr>

  <%= return_model_index_button("Retour vers accueil", root_path) %>

</div>