<p style="color: green"><%= notice %></p>

<div class="container-fluid p-2">

  <%= render @message %>


  <% if user_is_sender?(@message) %>
    
    <div class="d-flex align-items-center"> 

      <%= link_to edit_message_path(@message), class: "btn btn-sm btn-secondary me-1" do %>
        <i class="fa fa-pen-to-square"> </i>
        <span class="fw-bold">Editer</span>
      <% end %>

      <%= button_to @message, method: :delete, class: "btn btn-sm btn-danger",
            :onclick => "return confirm('Etes-vous certain de vouloir supprimer cet élément ?')" do %>
        <i class="fa-solid fa-trash"> </i>
        <span class="fw-bold">Supprimer</span>
      <% end %>
      
    </div>

  <% end %>

  <!-- app/views/users/show.html.erb or any appropriate view -->
  <%#= form_with url: send_email_path, method: :post do %>
    <%#= hidden_field_tag :message, @message.id %>
    <%#= submit_tag 'Send Welcome Email' %>
  <%# end %>


  <hr>

  <%= return_model_index_button("Retour vers messages", messages_path) %>

</div>


