<div id="<%= dom_id produit %>">

  <p>
    <strong> Name:</strong>
    <%= produit.name %>
  </p>


  <p>
    <strong>Stripe product:</strong>
    <%= produit.stripe_product_id %>
  </p>

  <p>
    <strong>Stripe price:</strong>
    <%= produit.stripe_price_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= produit.amount %>
  </p>

</div>
