
<nav class="navbar navbar-expand-lg light-beige-colored shadow-sm">
  <div class="container-fluid">
    <%= link_to image_tag('/images/logo_courant.png', class: 'me-4', width: "200"), root_path %>
    <%= Time.now.strftime("%B %d, %Y %H:%M %p") %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto my-2 my-lg-0">

        <%= link_to "Accueil", root_path, class: "fs-3 nav-link" %>
        <%= link_to "Messages", messages_path, class: "fs-3 nav-link" %>
        <%= link_to "Utilisateurs", users_path, class: "fs-3 nav-link" %>

      </ul>

    </div>

  </div>
</nav>