<%#= render 'pages/introduction' %>

<%= render 'pages/video' %>

<%= render 'pages/diaporama' %>

<div class="p-2 scroll-animate">
  <%= link_to new_message_path, 
        class: "btn btn-outline-primary fw-bold w-100 my-1" do %>

    <i class="fa-regular fa-pen-to-square ms-1"></i>
    <span> Envoyer un message </span> 

  <% end %>


  <%= link_to messages_path, 
        class: "btn btn-outline-dark fw-bold w-100 my-1 scroll-animate" do %>
    <i class="fa-regular fa-envelope ms-1"></i>
    <span> Voir mes messages </span> 

  <% end %>
</div>



<hr>

<%= render 'pages/counters' %>

<hr>


<%#= link_to  "utilisateurs", users_path, class: "btn btn-dark fw-bold" %>

