<%#= render 'pages/introduction' %>

<% title "Landing Page" %>
<% description "Landing Page avec les explications et outils pour envoyer des messages dans le futur" %>

<%= render 'pages/video' %>

<%= render 'pages/diaporama' %>

<%= render 'pages/explications' %>

<div class="p-2 my-3 appear">
  <%= link_to new_message_path, 
        class: "btn btn-primary fw-bold w-100 my-2" do %>

    <i class="fa-regular fa-pen-to-square ms-1"></i>
    <span> Envoyer un message </span> 

  <% end %>


  <%= link_to messages_path, 
        class: "btn btn-dark fw-bold w-100 my-2" do %>
    <i class="fa-regular fa-envelope ms-1"></i>
    <span> Voir mes messages </span> 

  <% end %>
</div>



  <%= link_to "produit 1", create_checkout_session_path(id: Produit.first), 
      method: :post, class: "btn btn-warning w-100 text-light fw-bold", "data-turbo" => "false" %>

  <%= link_to "produit 2", create_checkout_session_path(id: Produit.last), 
      method: :post, class: "btn btn-warning w-100 text-light fw-bold", "data-turbo" => "false" %>

<hr>

<footer class="text-center">
  <small>
    <p style="font-style: italic;">
      Icons by
      <a href="https://storyset.com/people">Animated illustrations by Storyset</a>
    </p>
  </small>   
</footer>

<%#= render 'pages/counters' %>

<%#= link_to  "utilisateurs", users_path, class: "btn btn-dark fw-bold" %>

